* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html {
  font-size: 62.5%
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.header,.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.content img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.hero {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(10%, -50%);
  opacity: 0;
  color: #fff;
  text-align: center;
  width: 60vw;
  z-index: 3;
  transition: all 500ms ease-in-out;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hero div {
  margin-top: 3rem;
}

.hero .btn {
  display: inline-block;
  background-color: #fff;
  color: #222;
  width: 13rem;
  padding: 1rem .5rem;
  border-radius: 1rem;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.hero .btn:first-child:hover {
  background-color: transparent;
  color: #fff;
}

.hero .btn:last-child {
  background-color: transparent;
  color: #fff;
}

.hero .btn:last-child:hover {
  background-color: #fff;
  color: #222;
}

.glide__slide.glide__slide--active .hero {
  transform: translate(-50%, -50%);
  opacity: 1;
}


/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(218, 210, 210, 0.541);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.6rem 0;
  z-index: 999;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 996px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  font-size: 1.7rem;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  background-color: #fff;
  color: #222;
}